<div class="form-container">
    <h1>creer un compte</h1>
    <form>
        <div class="p-float-label p-input-icon-left">
            <i class="pi pi-user"></i>
            <input type="text" pInputText name="host" #host> 
            <label for="inputtext-left">Host</label>
        </div>
        <div class="p-float-label p-input-icon-left">
            <i class="pi pi-envelope"></i>
            <input type="text" pInputText name="email" #email> 
            <label for="inputtext-left">Email Address</label>
        </div>
        <div class="p-float-label p-input-icon-left">
            <i class="pi pi-lock"></i>
            <input type="text" pInputText name="password" #password> 
            <label for="inputtext-left">Mot de passe</label>
        </div>
        <div class="p-float-label">
            <p-dropdown [options]="roles" name="role" #role>
                <ng-template let-item pTemplate="selectedItem"> 
                    {{item}} 
                  </ng-template> 
            </p-dropdown>
            <label for="dropdown">Dropdown</label>
        </div>
        <div class="p-float-label">
            <p-button mat-dialog-close type="submit" (click)="onSignup(host.value,email.value,password.value,role.value)" >SIGN UP</p-button>
        </div>
    </form>
</div>

